$paddingY: 1%;
$paddingX: 8%;

:host{
    background-color: white;
    position: relative;
    bottom:0px;
    z-index: 1;
}


:root{
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #1D2939;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border:none;
    border-top: 0.5px solid;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: $paddingY;
    padding-bottom: $paddingY;
    padding-right: $paddingX;
    padding-left: $paddingX;
    height: 10vh;
}

@mixin box($order) {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    order: $order;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 40%;
        *{
            margin-right: 5%;
        }
    }
}


.boxLeft{
    @include box(0);
    color: white;
}

.boxRight{
    @include box(1);
    color: white;
}

.logo{
    height: 2em;
    width: 2em;
}