<div class="loginBox">
    <img class="logo" src="\assets\logo.PNG" alt="logo">
    <h1>Log in to your account</h1>
    <h2>Welcome back! Please enter your details.</h2>
    <form (ngSubmit)="attemptLogin()">
        <div>
            <label for="username">Username: </label>
            <input name="username" type="text" id="username" placeholder="username" [(ngModel)]="username">
        </div>
        <div *ngIf="(error$ | async)" class="error">
            {{error$ | async}}
        </div>
        <div>
            <label for="password">Password: </label>
            <input name="password" type="password" id="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <input type = "submit" value="Login">
    </form>
</div>