<div class="loginArea">
    <form (ngSubmit)="attemptLogin()">
        <h1>Login</h1>
        <div>
            <label for="username">Username: </label>
            <input name="username" type="text" id="username" placeholder="username" [(ngModel)]="username">
        </div>
        <div>
            <label for="password">Password: </label>
            <input name="password" type="password" id="password" placeholder="Password" [(ngModel)]="password">
        </div>
        <input type = "submit" value="Login">
    </form>
</div>