$paddingY: 1%;
$paddingX: 8%;

:host{
    background-color: white;
    position: sticky;
    top:0px;
    z-index: 1;
}

:root{
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.container{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border:none;
    border-bottom: 0.5px solid;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: $paddingY;
    padding-bottom: $paddingY;
    padding-right: $paddingX;
    padding-left: $paddingX;
}

@mixin box($order) {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    order: $order;
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 40%;
        *{
            margin-right: 5%;
        }
    }

    img{
        height: 2em;
        width: 2em;
        margin-right: 1rem;
    }
}


.boxLeft{
    @include box(0);
    
}

.boxRight{
    @include box(1)
}

.logo{
    height: 2em;
    width: 2em;
}

.clickable{
    &:hover{
        cursor: pointer;
    }
}