<div class="container">
    <div class="boxLeft">
        <div>
            <img class="logo" src="\assets\logo.PNG" alt="logo">
            <p>ClickTik</p>
        </div>
        <a href="/">Home</a>
    </div>
    <div class="boxRight">
        <p (click)="navigate('/cart')" class="clickable"><img  src = "../../assets/shoppingCart.png"></p>
        <p *ngIf="!(isLoggedIn$ | async)" (click)="navigate('/login')" class="clickable">Login</p>
        <p *ngIf="isLoggedIn$ | async" (click)="logOut()" class="clickable">Logout</p>
    </div>
</div>