.navbar{
    background: white;
    border-style: solid;
    border:none;
    border-bottom: 0.5px solid;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0px;
    padding: 0.8%
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    border: 1px;
    border-style: solid;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}