/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Inter";
    src: local("Inter"), url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}


body{
    margin: 0;
    flex-grow: 1;
    height: 100vh;
}

*{
    font-family: 'Inter';
    font-style: normal; 
    
    a{
        color: #667085;
        text-decoration: none;
        &:visited{
            color: #667085;
        }
    }
}

